{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    </head>
    <body>
        
        <div>
            <h1>Salom Mardum</h1>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        
        <!-- custom js file link  -->
        <script src="{% static 'js/script.js' %}"></script>
        
        <script>
        
        AOS.init({
            duration:800,
            delay:400
        });
        
        </script>
    
    </body>
</html>

{% endblock %}