{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Online Food Ordering System</title>

    <!-- ===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stl_navbar.css' %}" />
  </head>
  <body>
    <nav>
      <div class="nav-bar">
        <i class="bx bx-menu sidebarOpen"></i>
        <span class="logo navLogo"><a href="#">CodingLab</a></span>

        <div class="menu">
          <div class="logo-toggle">
            <span class="logo"><a href="#">CodingLab</a></span>
            <i class="bx bx-x siderbarClose"></i>
          </div>

          <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="darkLight-searchBox">
          <div class="dark-light">
            <i class="bx bx-moon moon"></i>
            <i class="bx bx-sun sun"></i>
          </div>

          <div class="searchBox">
            <div class="searchToggle">
              <i class="bx bx-x cancel"></i>
              <i class="bx bx-search search"></i>
            </div>

            <div class="search-field">
              <input type="text" placeholder="Search..." />
              <i class="bx bx-search"></i>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <!-- footer section starts  -->

    <section class="footer">
      <div class="box-container">
        <div class="box" data-aos="fade-up">
          <h3>our branches</h3>
          <a href="#"> <i class="fas fa-map-marker-alt"></i> Tbilisi </a>
        </div>

        <div class="box" data-aos="fade-up">
          <h3>quick links</h3>
          <a href="#"> <i class="fas fa-chevron-right"></i> home </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> pricing </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> contact </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> blogs </a>
        </div>

        <div class="box" data-aos="fade-up">
          <h3>contact info</h3>
          <a href="#"> <i class="fas fa-phone"></i> +995 591750683 </a>
          <a href="#"> <i class="fas fa-phone"></i> +995 579185029</a>
          <a href="#">
            <i class="fas fa-mail-bulk"></i> zubaidov.shohruz@gmail.com
          </a>
          <a href="#">
            <i class="fas fa-map-marker-alt"></i> Georgia, Tbilisi - 0192
          </a>
        </div>

        <div class="box" data-aos="fade-up">
          <h3>follow us</h3>
          <a href="https://www.instagram.com/zubaydov.sh/" target="_blank">
            <i class="fab fa-instagram"></i> instagram
          </a>
          <a
            href="https://www.linkedin.com/in/shohruz-zubaidov-65b956157/"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i> linkedin
          </a>
        </div>
      </div>

      <div class="credit">
        creadet by <span>Zubaidov</span> 2023 | all rights reserved
      </div>
    </section>

    <!-- footer section ends -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="{% static 'js/script.js' %}"></script>
    <script
      type="text/javascript"
      src="{% static 'script_navbar.js' %}"
    ></script>

    <script>
      AOS.init({
        duration: 800,
        delay: 400,
      });
    </script>
  </body>
</html>
